<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="" style="color: #ffc107 !important; font-size: 1.3rem;">
            🍔 GH TERMINAL
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column mt-2">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                NOVO PEDIDO
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="pedidos">
                HISTÓRICO
            </NavLink>
        </div>
    </nav>
</div>